
@import url('https://fonts.googleapis.com/css2?family=Uchen&display=swap');
  body{
    background: burlywood;
    color: #0b3d2f;
    /*font-family: 'Uchen', serif;*/
    /*font-size: 16px;*/
    /*font-weight: normal;*/
      font: normal 16px 'Uchen', serif;;
}
a{
    color: darkmagenta;
    text-decoration: none;
}
a:hover{
    color: magenta;
    text-decoration: underline;
}
a:active{
    color: darkslategrey;
}
h1{
    color: darkgreen;
}
.avatar{
    width: 200px;
    border-radius: 25%;
    box-shadow: 4px 10px 14px rgba(0,0,0,0.5);
}
.info p{
    color: #474D46;
    margin: 0;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    text-transform: full-size-kana;
}
.containar{
    max-width: 80%;
    margin: auto;
}
/*.social{*/
/*background: darkgray;*/
/*    padding: 1%;*/
/*    margin: 2%;*/
/*}*/
.bg-yellow{
    background: #fff9dc;
}
.bg-green{
    background: #e5ffe7;
}
.bg-red{
    background: #ffe5e5;
}
.card{
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 20px;

}
